<h2><%= @student.name %></h2>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

Age: <%= @student.age %>
<br>
Grade: <%= @student.grade %>
<br>
<br>
<%= link_to "Students Index", students_path %>
